*,
*:before,
*:after
{
    box-sizing: border-box;
}

body
{

    font-family:Lato;
    font-size:14px;
}

@media (max-width:600px)
{
    td.lg {display:none;}
    span.lg {display:none};
    tr.sm {display:table-cell;}
    .table table thead {display:none};
}
@media (min-width:601px)
{
    td.lg {display:table-cell;}
    span.lg {display:inline;}
    tr.sm {display:none;}
}

.area
{
position:absolute;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row
{
    margin-top:10px;
    margin-bottom:10px;
}

.table table
{
    border-collapse:collapse;
}

.form form input[type='text']
{
    width:200px;
    height:48px;
    border-radius:5px;
    border: 1px solid #cccccc;
    background: #ffffff !important;
    outline: none;
    color: #000000;
    font-size: 14px;
    font-family: Lato;
}

.form form span
{
    display: inline-block;
    color: red;
    height: 18px;
}

.table table tr td
{
    border:1px solid black;
    padding:5px;
}

.thead-fixed
{
    position:fixed;
    display:none;
    background:white;
}